# OS/IDE
.DS_Store
.idea/
*.iml

# Logs
*.log
logs/

# Java / Maven
backend-spring/target/
backend-spring/.mvn/wrapper/maven-wrapper.jar

# Node / Angular
frontend-angular/node_modules/
frontend-angular/dist/
frontend-angular/.angular/

# C build artifacts
c-engine/*.o
c-engine/civic_alert_engine

